params {
    reads  = "data/test/*_{1,2}.fastq.gz"
    outdir = "results"
    fasta  = "data/reference/chr21.fa.gz"
    baits        = "data/intervals/ActSeqBaits.bed.interval_list"
    targets      = "data/intervals/ActSeqTargets.bed.interval_list"
    reference_chroms  = "chr21"
}

conda {
    enabled = true
}

docker {
    enabled = true
    runOptions = '--platform linux/amd64'
}

process {
    cpus   = 2
    memory = '4 GB'

    withName: 'BWAMEM2_INDEX' {
        memory = '16 GB'
    }
}